DOCKERFILE='Dockerfile'

EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/bbensky
REPOSITORY_NAME='df-gke'
DOCKERTAG=${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}

NAMESPACE='delicate-flowers'
HELM_CHARTS=('df-chart')
HELM_RELEASE_NAMES=('delicate-flowers')
HELM_VALUES=('production/df')

GCP_PROJECT='brian-gke-onboarding-practice'
GOOGLE_APPLICATION_CREDENTIALS= '/tmp/gcloud_key.json'
CLUSTER_NAME='bb-gke-fishwich'1
GCP_REGIONAL_CLUSTER=true
GCP-REGION=us-central1